
.bg-modal2 {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents2 {
	height: 400px;
	width: 600px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
	margin-top: 1em;
}

input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

.close2 {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}
.close2 :hover {
    color: #666;
}
.button {
	background-color: blue;
	border: 2px solid white;
	border-radius: 8px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
	width: 30%;
	margin-bottom: 1em;
}
.button :hover {
	background-color: white;
	color: blue;
	border: 2px solid blue;
}
.link a{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: bold;
	text-align: center;
}
.signup-style{
	background: url('../images/meetupback.jpg');
	padding-top: 20px;
	padding-left: 20px;
	margin-top: 1em;
    margin-bottom: 1em;
    min-height: 560px;

}
.contents {
	height: 400px;
	width: 600px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
	margin-top: 1em;
	margin-left: 25%;
}
